<!doctype html>
<html>
<head>
	
</head>
<body>
	<h2>Welcome to Admin</h2>
	<ul>
		<li><a href='/admin/corals'>Corals</a></li>
		<li><a href='/admin/fish'>Fish</a></li>
		<li><a href='/admin/marineAlgea'>Marine Algae</a></li>
		<li><a href='/admin/dryGoods'>Dry Goods</a></li>
		<li><a href='/admin/kits'>Kits</a></li>
</body>
</html>
