<!doctype html>
<html>

<head>
</head>
<body>
	<div>
	<p>Choose a Sub Category</p>
	<a href='/corals/lps'>LPS</a>	
	<a href='/corals/sps'>SPS</a>	
	<a href='/corals/soft'>Soft Coral</a>	
	</div>	
	
	<img src='/img/corals/b.jpg'>
	<img src='/img/corals/a.jpg'>
	<img src='/img/corals/c.jpg'>
</body>
	
</html>
