<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src='/js/bootstrap.min.js'></script>
	
    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">
	<link href='/css/lps.css' rel='stylesheet'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Footer -->
	<div class='container'>	
		<header>
		<div class='row'>
			<a href='/'> <img src='/img/logo.png' id='logo' class='col-md-offset-1'></a>
        </div>
		</header>
		<nav class="navbar navbar-default center">
			<div class='navbar-inner'>
			  <ul class="nav navbar-nav">
				<li>
					<a href='/corals'>Corals</a>
					<ul class="dropdown-menu" > <!--type="button" data-toggle="dropdown"-->
						<li><a href="/corals/lps">LPS</a></li>
						<li><a href="#">SPS</a></li>
						<li><a href="#">Soft Corals</a></li>
					</ul>
				</li>
				<li>
					<a href='/'>Fish</a>
					<ul class="dropdown-menu multi-level" role='menu' > <!--type="button" data-toggle="dropdown"-->
						<li class='dropdown-submenu'>
							<a href="/corals/lps">By Region</a>

							<ul class="dropdown-menu" > <!--type="button" data-toggle="dropdown"-->
								<li><a href="/corals/lps">Central Pacific</a></li>
								<li><a href="#">SPS</a></li>
								<li><a href="#">Soft Corals</a></li>
							</ul>
						</li>
						<li><a href="#">SPS</a></li>
						<li><a href="#">Soft Corals</a></li>
					</ul>
				</li>
				<li>
					<a href='/corals'>Marine Algae</a>
					<ul class="dropdown-menu" > <!--type="button" data-toggle="dropdown"-->
						<li><a href="/corals/lps">LPS</a></li>
						<li><a href="#">SPS</a></li>
						<li><a href="#">Soft Corals</a></li>
					</ul>
				</li>
				<li>
					<a href='/corals'>Dry Goods</a>
					<ul class="dropdown-menu" > <!--type="button" data-toggle="dropdown"-->
						<li><a href="/corals/lps">LPS</a></li>
						<li><a href="#">SPS</a></li>
						<li><a href="#">Soft Corals</a></li>
					</ul>
				</li>
				<li>
					<a href='/corals'>Healthy Tank Kits</a>
					<ul class="dropdown-menu" > <!--type="button" data-toggle="dropdown"-->
						<li><a href="/corals/lps">LPS</a></li>
						<li><a href="#">SPS</a></li>
						<li><a href="#">Soft Corals</a></li>
					</ul>
				</li>
			  </ul>
			</div>
		</nav>
		<div class='row'>
			<% for(var i=0; i<corals.length; i++) {%>
				<div class='col-sm-3 col-xs-6'>
					<div class='product thumbnail'>
						<a href='/corals/lps/<%= corals[i].productCode %>' >
							<img class='img-responsive' src=<%= corals[i].thumbnailImg %> >
						</a>
						<h3><%= corals[i].commonName %></h3>
					</div>
				</div>
			<% } %>
		</div>
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2014</p>
				</div>
			</div>
		</footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
